<!DOCTYPE html>
<html>
  <head>
    <title>Pilsen Community Market</title>
    <%= csrf_meta_tags %>
    <%= render 'application/favicon' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(image_tag("chicken.png", height: "35"), root_path, class: "navbar-brand topnav") %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <%= render "partials/nav" %>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </nav>

    <div class="body-container">
      <%= content_for?(:pages) ? yield(:pages) : yield %>
      </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="container center">
            <div class="row">
                <div class="col-lg-12">
                  <div class="col-sm-8 col-sm-offset-2 text-center">
                    <ul class="list-inline">
                      <%= render "partials/nav" %>
                    </ul>
                    <div class="fine-print small">
                    <ul class="list-inline copyright text-muted">
                      <li>
                        <%= link_to "Terms and Conditions", terms_path %>
                      </li>
                      <li class="menu-divider">&sdot;</li>
                      <li>
                        <%= link_to "Privacy Policy", privacy_policy_path %>
                      </li>
                    </ul>
                    <p class="copyright text-muted small">website design adapted from <%= link_to "startbootstrap.com", "https://startbootstrap.com/template-overviews/landing-page/", target: "_blank" %></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
